.lesson-card {
  width: 332px;
  min-height: 445px;
  margin-bottom: 15px;
}

.lesson-card:last-child {
  margin-left: 15px;
  margin-right: auto;
}

.lesson-card:first-child {
  margin-left: 0;
}

.lesson-card:hover {
  cursor: pointer;
  transition: .1s;
  transform: scale(1.02);
}

.lesson-card.lesson-card--new {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  border: 5px dashed rgba(0,0,0,.2);
  background: none;
  color: rgba(0,0,0,.2);

  mat-card-content {
    mat-icon {
      font-size: 100px;
    }
  }

  &:hover {
    transform: none;
    transition: none;
    background: white;
  }
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  mat-card-content {
    margin-top: 10px;
  }
}

.description-wrapper {
  overflow: hidden;
  height: 70px;
  position: relative;
}

.blur-layout {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), white);
  width: 100%;
}
