<div class="wrapper">
  <div class="title-header">
    <h1 class="mat-display-1">{{ 'LESSONS.TITLE' | translate }}</h1>
    <div class="action-buttons">
    </div>
  </div>

  <div class="list-wrapper">
    <ng-container *ngIf="lessons$ | async as lessons; else loading">
      <chess-list-lesson *ngFor="let lesson of lessons" [lesson]="lesson">
      </chess-list-lesson>

      <ng-container *ngIf="lessons.length">
        <mat-card *hiddenFor="['admin','student']" class="lesson-card lesson-card--new" (click)="addNew()">
          <mat-card-content>
            <mat-icon [inline]="true">add_circle</mat-icon>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <div *ngIf="!lessons.length" class="no-results-wrapper">
        <p class="no-results">{{ 'LESSONS.NO_RESULTS' | translate }}</p>
        <div *hiddenFor="['admin','student']" class="action-buttons action-buttons--bigger">
          <button
            mat-raised-button
            color="primary"
            (click)="addNew()"
          >{{ 'LESSONS.ADD_NEW' | translate }}</button>
        </div>
      </div>

    </ng-container>

  </div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

