*,
*::after,
*::before {
  box-sizing: border-box;
}


input, textarea {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  &:disabled {
    opacity: .8;
    cursor: not-allowed;
  }
}
