.main {
  width: 532px;
}

.aside {
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 20px;
}

.double-section {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

.triple-input {
  width: 150px;
  & + & {
    margin-left: 20px;
  }
}

.sub-section {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-section {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 40px;
  & + & {
    margin-top: 5px;
  }
}

.action-buttons--bigger {
  button {
    width: 150px;
    height: 50px;
  }
}

.panel-header {
  padding: 0 0 0 16px;
}

.panel-title {
  color: #000 !important;
  font-size: 24px;
  font-weight: normal;
}

.panel-description {
  justify-content: flex-end;
}

.falsy-move {
  background: rgba(255, 0, 0, .1);
}

.section:last-child {
  padding-bottom: 20px;
}

.lesson-section {
  position: relative;
}

.lesson-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background-color: white;
  opacity: .9;
}

.lesson-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .start-message {
    margin-top: 100px;
    min-width: 300px;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
}

