.login {
  position: relative;
  margin: 100px auto;
  padding-top: 70px;
  width: 400px;
  &__main-content {
    padding-bottom: 30px;
  }

  &__field {
    width: 100%;

    &--double {
      width: 47%;
    }

  }

  &__button {
    min-width: 120px;
    & + & {
      margin-left: 20px;
    }
  }
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: -32px;
}

.lang-switcher {
  position: absolute;
  right: 0;
  top: 5px;
}

